In [1]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances

## Load `movies.csv` and `ratings.csv`
---

We'll be using the [MovieLens](https://grouplens.org/datasets/movielens/) dataset for building our recommendation engine. There are two CSVs (`movies.csv` and `ratings.csv`) that we'll eventually inner join.

In [2]:
movies = pd.read_csv('data/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('data/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## Drop unnecessary columns

In [4]:
ratings.drop('timestamp', axis=1, inplace=True)
movies.drop('genres', axis=1, inplace=True)

## Merge `movies` and `ratings`

In [5]:
df = pd.merge(ratings, movies, on='movieId')
df.shape

(100836, 4)

In [6]:
df.head(10)

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)
5      18        1     3.5  Toy Story (1995)
6      19        1     4.0  Toy Story (1995)
7      21        1     3.5  Toy Story (1995)
8      27        1     3.0  Toy Story (1995)
9      31        1     5.0  Toy Story (1995)

## Create pivot table
---

1. The `title` will be the index
2. The `userId` will be the column
3. The `rating` will be the value

In [7]:
pivot = pd.pivot_table(df, index='title', columns='userId', values='rating')
pivot.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
pivot.shape

(9719, 610)

## Create sparse matrix
---

In a minute, we'll calculate the cosine similarity for each movie using the `pairwise_distances` function. Before that, we need to create a sparse matrix (datatype) using `scipy`'s `sparse` module like so:
```python
sparse.csr_matrix(pivot.fillna(0), metric='cosine')
```

In [9]:
sparse_pivot = sparse.csr_matrix(pivot.fillna(0))
print(sparse_pivot)

  (0, 609)	4.0
  (1, 331)	4.0
  (2, 331)	3.5
  (2, 376)	3.5
  (3, 344)	5.0
  (4, 112)	3.0
  (4, 344)	5.0
  (5, 20)	1.5
  (6, 11)	5.0
  (6, 18)	2.0
  (6, 90)	2.0
  (6, 94)	3.0
  (6, 171)	4.0
  (6, 216)	4.0
  (6, 287)	3.0
  (6, 293)	1.0
  (6, 306)	3.5
  (6, 376)	3.5
  (6, 413)	3.0
  (6, 473)	1.0
  (6, 476)	3.5
  (6, 519)	4.0
  (6, 554)	5.0
  (6, 560)	4.5
  (6, 598)	2.0
  :	:
  (9717, 26)	5.0
  (9717, 41)	5.0
  (9717, 56)	2.0
  (9717, 67)	4.0
  (9717, 87)	3.5
  (9717, 140)	3.5
  (9717, 197)	2.0
  (9717, 214)	2.5
  (9717, 216)	2.0
  (9717, 220)	3.5
  (9717, 238)	3.0
  (9717, 281)	4.0
  (9717, 293)	4.0
  (9717, 306)	2.5
  (9717, 312)	1.0
  (9717, 413)	3.0
  (9717, 420)	3.0
  (9717, 447)	3.0
  (9717, 473)	3.0
  (9717, 476)	3.5
  (9717, 554)	3.0
  (9717, 560)	4.0
  (9717, 596)	3.0
  (9717, 598)	2.5
  (9718, 526)	1.0

## Calculate cosine similarity
---

`sklearn` has a built-in `pairwise_distances` function that we can use for our recommender. It will return a square matrix, comparing every movie with every other movie in the dataset.

```python
pairwise_distances(sparse_pivot, metric='cosine')
```

In [10]:
recommender = pairwise_distances(sparse_pivot, metric='cosine')

## Create distances DataFrame
---

At this point, we essentially have a recommender. We'll load it into a `pandas` DataFrame for readability. 

You'll notice that each movie has a "distance" of 0 with itself (along the diagonal).

In [11]:
recommender_df = pd.DataFrame(recommender, columns=pivot.index, index=pivot.index)
recommender_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.0,0.858347,1.0,...,1.0,0.657945,0.456695,0.292893,1.0,1.0,0.860569,0.672673,1.0,1.0
'Hellboy': The Seeds of Creation (2004),1.0,0.000000,0.292893,1.000000,1.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Round Midnight (1986),1.0,0.292893,0.000000,1.000000,1.000000,1.0,0.823223,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Salem's Lot (2004),1.0,1.000000,1.000000,0.000000,0.142507,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0
'Til There Was You (1997),1.0,1.000000,1.000000,0.142507,0.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.0,1.0

## Evaluate recommender performance
---

Now comes the fun part! Let's check out a few movies to see if the recommender aligns with our intuition. In the cell below we'll do the following:
1. Create a search term
2. Use that to find all titles matching the search query
3. For each title, we'll list off the following:
  1. The average rating
  2. The number of ratings
  3. The ten most similar movies

In [12]:
search = 'Batman'

for title in movies.loc[movies['title'].str.contains(search), 'title']:
    print(title)
    print('Average rating', pivot.loc[title, :].mean())
    print('Number of ratings', pivot.T[title].count())
    print('')
    print('10 closest movies')
    print(recommender_df[title].sort_values()[1:11])
    print('')
    print('*******************************************************************************************')
    print('')

Batman Forever (1995)
Average rating 2.9160583941605838
Number of ratings 137

10 closest movies
title
Batman (1989)                                                0.294361
True Lies (1994)                                             0.357256
Ace Ventura: Pet Detective (1994)                            0.379568
Cliffhanger (1993)                                           0.398133
Dances with Wolves (1990)                                    0.414066
Die Hard: With a Vengeance (1995)                            0.423242
Stargate (1994)                                              0.426460
Aladdin (1992)                                               0.433616
Clear and Present Danger (1994)                              0.436542
Interview with the Vampire: The Vampire Chronicles (1994)    0.439019
Name: Batman Forever (1995), dtype: float64

*******************************************************************************************

Batman (1989)
Average rating 3.4285714285714284
Number of ratings 189

10 closest movies
title
Batman Forever (1995)                0.294361
True Lies (1994)                     0.303245
Terminator 2: Judgment Day (1991)    0.354397
Fugitive, The (1993)                 0.360215
Jurassic Park (1993)                 0.360504
Dances with Wolves (1990)            0.400014
Stargate (1994)                      0.400799
Mask, The (1994)                     0.402174
Aladdin (1992)                       0.403279
Braveheart (1995)                    0.408091
Name: Batman (1989), dtype: float64

*******************************************************************************************

Batman Returns (1992)
Average rating 3.025
Number of ratings 60

10 closest movies
title
Batman & Robin (1997)                      0.374734
RoboCop (1987)                             0.465288
Superman II (1980)                         0.496815
Highlander (1986)                          0.498451
Die Hard 2 (1990)                          0.498600
Starship Troopers (1997)                   0.507736
Men in Black (a.k.a. MIB) (1997)           0.509761
Con Air (1997)                             0.510726
Who Framed Roger Rabbit? (1988)            0.512582
Superman IV: The Quest for Peace (1987)    0.512894
Name: Batman Returns (1992), dtype: float64

*******************************************************************************************

Batman & Robin (1997)
Average rating 2.2142857142857144
Number of ratings 42

10 closest movies
title
Batman Returns (1992)                                 0.374734
Mummy, The (1999)                                     0.508321
Who Framed Roger Rabbit? (1988)                       0.527753
Austin Powers: International Man of Mystery (1997)    0.537079
Hook (1991)                                           0.537590
Hellboy (2004)                                        0.540264
Rush Hour (1998)                                      0.548089
Anaconda (1997)                                       0.550975
Snakes on a Plane (2006)                              0.556468
Addams Family, The (1991)                             0.556912
Name: Batman & Robin (1997), dtype: float64

*******************************************************************************************

Batman: Mask of the Phantasm (1993)
Average rating 4.115384615384615
Number of ratings 13

10 closest movies
title
Batman: Gotham Knight (2008)                 0.499665
Ghosts of Mars (2001)                        0.527631
Dreamcatcher (2003)                          0.530162
Mortal Kombat: Annihilation (1997)           0.535998
Cradle 2 the Grave (2003)                    0.536374
Return of Jafar, The (1994)                  0.551378
Beyond the Mat (1999)                        0.560542
Batman: Under the Red Hood (2010)            0.563445
Batman Beyond: Return of the Joker (2000)    0.564579
Super Mario Bros. (1993)                     0.569086
Name: Batman: Mask of the Phantasm (1993), dtype: float64

*******************************************************************************************

Batman (1966)
Average rating 3.0
Number of ratings 5

10 closest movies
title
Family Business (1989)                       0.316994
Whatever Works (2009)                        0.318615
Victory (a.k.a. Escape to Victory) (1981)    0.322311
Bugsy Malone (1976)                          0.326159
Simone (S1m0ne) (2002)                       0.372900
Nuns on the Run (1990)                       0.374876
Frankie and Johnny (1991)                    0.377889
Biggles (1986)                               0.379587
Breakin' 2: Electric Boogaloo (1984)         0.382363
Odd Couple II, The (1998)                    0.397211
Name: Batman (1966), dtype: float64

*******************************************************************************************

Batman/Superman Movie, The (1998)
Average rating 2.0
Number of ratings 1

10 closest movies
title
Witch Hunt (1999)                              0.0
Love and Death on Long Island (1997)           0.0
Other People's Money (1991)                    0.0
Cashback (2004)                                0.0
With Great Power: The Stan Lee Story (2012)    0.0
Beautiful Losers (2008)                        0.0
Case 39 (2009)                                 0.0
Revolution (1985)                              0.0
Shakespeare Behind Bars (2005)                 0.0
The Hound of the Baskervilles (1988)           0.0
Name: Batman/Superman Movie, The (1998), dtype: float64

*******************************************************************************************

Batman Beyond: Return of the Joker (2000)
Average rating 3.5
Number of ratings 3

10 closest movies
title
Batman: Under the Red Hood (2010)              0.002598
Friday the 13th (2009)                         0.064181
Tremors II: Aftershocks (1996)                 0.083767
Beethoven's 2nd (1993)                         0.136882
Jeepers Creepers 2 (2003)                      0.150264
Land of the Dead (2005)                        0.156251
JCVD (2008)                                    0.174793
Justice League: Crisis on Two Earths (2010)    0.174793
Cradle 2 the Grave (2003)                      0.177275
All-Star Superman (2011)                       0.183653
Name: Batman Beyond: Return of the Joker (2000), dtype: float64

*******************************************************************************************

Batman Begins (2005)
Average rating 3.8620689655172415
Number of ratings 116

10 closest movies
title
Dark Knight, The (2008)                                          0.348718
Pirates of the Caribbean: The Curse of the Black Pearl (2003)    0.354991
V for Vendetta (2006)                                            0.368649
Sin City (2005)                                                  0.369035
Lord of the Rings: The Return of the King, The (2003)            0.374261
Kill Bill: Vol. 1 (2003)                                         0.383450
Kill Bill: Vol. 2 (2004)                                         0.384032
Incredibles, The (2004)                                          0.388171
Matrix Reloaded, The (2003)                                      0.389335
Lord of the Rings: The Two Towers, The (2002)                    0.390783
Name: Batman Begins (2005), dtype: float64

*******************************************************************************************

Batman: Gotham Knight (2008)
Average rating 3.5
Number of ratings 3

10 closest movies
title
Beethoven's 2nd (1993)                       0.225899
Punisher: War Zone (2008)                    0.236360
Dreamcatcher (2003)                          0.247482
Friday the 13th (2009)                       0.256839
Batman Beyond: Return of the Joker (2000)    0.276214
Batman: Under the Red Hood (2010)            0.295181
Jeepers Creepers 2 (2003)                    0.318122
Land of the Dead (2005)                      0.323728
Host, The (Gwoemul) (2006)                   0.326735
Cradle 2 the Grave (2003)                    0.344313
Name: Batman: Gotham Knight (2008), dtype: float64

*******************************************************************************************

Batman: Under the Red Hood (2010)
Average rating 3.6666666666666665
Number of ratings 3

10 closest movies
title
Batman Beyond: Return of the Joker (2000)      0.002598
Tremors II: Aftershocks (1996)                 0.072788
Friday the 13th (2009)                         0.088704
JCVD (2008)                                    0.156239
Justice League: Crisis on Two Earths (2010)    0.156239
Beethoven's 2nd (1993)                         0.159500
All-Star Superman (2011)                       0.161572
Jeepers Creepers 2 (2003)                      0.172532
Justice League: The New Frontier (2008)        0.174952
Ultimate Avengers (2006)                       0.174952
Name: Batman: Under the Red Hood (2010), dtype: float64

*******************************************************************************************

Batman: Year One (2011)
Average rating 3.6666666666666665
Number of ratings 3

10 closest movies
title
Mean Machine (2001)                                                                                    0.127542
Willard (2003)                                                                                         0.155704
Justice League: Crisis on Two Earths (2010)                                                            0.156239
JCVD (2008)                                                                                            0.156239
All-Star Superman (2011)                                                                               0.161572
Justice League: The New Frontier (2008)                                                                0.174952
Ultimate Avengers (2006)                                                                               0.174952
Dragon Ball Z: Super Android 13! (Doragon bôru Z 7: Kyokugen batoru!! San dai sûpâ saiyajin) (1992)    0.179868
Dark Water (2005)                                                                                      0.189559
Derailed (2005)                                                                                        0.189655
Name: Batman: Year One (2011), dtype: float64

*******************************************************************************************

Superman/Batman: Public Enemies (2009)
Average rating 5.0
Number of ratings 1

10 closest movies
title
Dominion: Prequel to the Exorcist (2005)    0.0
Shin Godzilla (2016)                        0.0
Deepwater Horizon (2016)                    0.0
Silent Hill: Revelation 3D (2012)           0.0
Wonder Woman (2009)                         0.0
Dante's Inferno: An Animated Epic (2010)    0.0
Son of the Mask (2005)                      0.0
Creep (2004)                                0.0
Superman/Batman: Public Enemies (2009)      0.0
Superman/Doomsday (2007)                    0.0
Name: Superman/Batman: Public Enemies (2009), dtype: float64

*******************************************************************************************

Batman: The Dark Knight Returns, Part 1 (2012)
Average rating 3.9285714285714284
Number of ratings 7

10 closest movies
title
Doctor Who: A Christmas Carol (2010)              0.389822
Lawless (2012)                                    0.391738
Harry Brown (2009)                                0.392529
Doctor Who: The Husbands of River Song (2015)     0.397541
Batman: The Dark Knight Returns, Part 2 (2013)    0.405437
All-Star Superman (2011)                          0.417413
Doctor Who: Last Christmas (2014)                 0.417563
JCVD (2008)                                       0.418204
Justice League: Crisis on Two Earths (2010)       0.418204
Justice League: The New Frontier (2008)           0.419468
Name: Batman: The Dark Knight Returns, Part 1 (2012), dtype: float64

*******************************************************************************************

Batman: The Dark Knight Returns, Part 2 (2013)
Average rating 3.875
Number of ratings 8

10 closest movies
title
Batman: The Dark Knight Returns, Part 1 (2012)                                                         0.405437
Harry Brown (2009)                                                                                     0.429648
Lawless (2012)                                                                                         0.447327
Turbo Kid (2015)                                                                                       0.449340
JCVD (2008)                                                                                            0.477504
Justice League: Crisis on Two Earths (2010)                                                            0.477504
All-Star Superman (2011)                                                                               0.478709
Justice League: The New Frontier (2008)                                                                0.483628
Ultimate Avengers (2006)                                                                               0.483628
Dragon Ball Z: Super Android 13! (Doragon bôru Z 7: Kyokugen batoru!! San dai sûpâ saiyajin) (1992)    0.485713
Name: Batman: The Dark Knight Returns, Part 2 (2013), dtype: float64

*******************************************************************************************

LEGO Batman: The Movie - DC Heroes Unite (2013)
Average rating 3.0
Number of ratings 1

10 closest movies
title
Dominion: Prequel to the Exorcist (2005)    0.0
Shin Godzilla (2016)                        0.0
Deepwater Horizon (2016)                    0.0
Silent Hill: Revelation 3D (2012)           0.0
Wonder Woman (2009)                         0.0
Dante's Inferno: An Animated Epic (2010)    0.0
Son of the Mask (2005)                      0.0
Creep (2004)                                0.0
Superman/Batman: Public Enemies (2009)      0.0
Superman/Doomsday (2007)                    0.0
Name: LEGO Batman: The Movie - DC Heroes Unite (2013), dtype: float64

*******************************************************************************************

Batman: Mystery of the Batwoman (2003)
Average rating 3.0
Number of ratings 1

10 closest movies
title
Dominion: Prequel to the Exorcist (2005)    0.0
Shin Godzilla (2016)                        0.0
Deepwater Horizon (2016)                    0.0
Silent Hill: Revelation 3D (2012)           0.0
Wonder Woman (2009)                         0.0
Dante's Inferno: An Animated Epic (2010)    0.0
Son of the Mask (2005)                      0.0
Creep (2004)                                0.0
Superman/Batman: Public Enemies (2009)      0.0
Superman/Doomsday (2007)                    0.0
Name: Batman: Mystery of the Batwoman (2003), dtype: float64

*******************************************************************************************

Batman: Assault on Arkham (2014)
Average rating 3.0
Number of ratings 1

10 closest movies
title
Dominion: Prequel to the Exorcist (2005)    0.0
Shin Godzilla (2016)                        0.0
Deepwater Horizon (2016)                    0.0
Silent Hill: Revelation 3D (2012)           0.0
Wonder Woman (2009)                         0.0
Dante's Inferno: An Animated Epic (2010)    0.0
Son of the Mask (2005)                      0.0
Creep (2004)                                0.0
Superman/Batman: Public Enemies (2009)      0.0
Superman/Doomsday (2007)                    0.0
Name: Batman: Assault on Arkham (2014), dtype: float64

*******************************************************************************************

Batman vs. Robin (2015)
Average rating 3.0
Number of ratings 1

10 closest movies
title
Incendies (2010)                                           0.494924
Hunt, The (Jagten) (2012)                                  0.633874
Buffalo '66 (a.k.a. Buffalo 66) (1998)                     0.684756
Birdman: Or (The Unexpected Virtue of Ignorance) (2014)    0.723921
Boyhood (2014)                                             0.755889
Whiplash (2014)                                            0.803468
Gone Girl (2014)                                           0.849209
Ace Ventura: When Nature Calls (1995)                      0.854232
Interstellar (2014)                                        0.857564
Graduate, The (1967)                                       0.864865
Name: Batman vs. Robin (2015), dtype: float64

*******************************************************************************************

Batman v Superman: Dawn of Justice (2016)
Average rating 2.34375
Number of ratings 16

10 closest movies
title
Justice League (2017)                    0.412761
Jumanji: Welcome to the Jungle (2017)    0.469086
Triangle (2009)                          0.486429
Captain America: Civil War (2016)        0.503272
Tomb Raider (2018)                       0.509953
Predestination (2014)                    0.510255
Time Lapse (2014)                        0.511784
Demolition (2016)                        0.521136
Suicide Squad (2016)                     0.523215
The Jungle Book (2016)                   0.525048
Name: Batman v Superman: Dawn of Justice (2016), dtype: float64

*******************************************************************************************

Batman: The Killing Joke (2016)
Average rating 3.0
Number of ratings 1

10 closest movies
title
Dominion: Prequel to the Exorcist (2005)    0.0
Shin Godzilla (2016)                        0.0
Deepwater Horizon (2016)                    0.0
Silent Hill: Revelation 3D (2012)           0.0
Wonder Woman (2009)                         0.0
Dante's Inferno: An Animated Epic (2010)    0.0
Son of the Mask (2005)                      0.0
Creep (2004)                                0.0
Superman/Batman: Public Enemies (2009)      0.0
Superman/Doomsday (2007)                    0.0
Name: Batman: The Killing Joke (2016), dtype: float64

*******************************************************************************************

The Lego Batman Movie (2017)
Average rating 3.7142857142857144
Number of ratings 7

10 closest movies
title
Boondock Saints II: All Saints Day, The (2009)    0.325622
Alien: Covenant (2017)                            0.356438
Ghost Rider: Spirit of Vengeance (2012)           0.360452
Masterminds (2016)                                0.366399
Death Race 2 (2010)                               0.382729
Only God Forgives (2013)                          0.383028
Drive Angry (2011)                                0.383028
Dragon Ball Z: Battle of Gods (2013)              0.386205
Kingsman: The Golden Circle (2017)                0.386634
Last Stand, The (2013)                            0.393244
Name: The Lego Batman Movie (2017), dtype: float64

*******************************************************************************************